{
	"pluginSearchDirs": ["."],
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"overrides": [
		{
			"files": "./**/*.js",
			"options": {
				"parser": "babylon"
			}
		},
      {
        "files": "./**/*.svelte",
        "options": {
          "svelteBracketNewLine": false,
          "svelteAllowShorthand": false,
          "svelteSortOrder" : "options-scripts-styles-markup",
          "plugins": [
            "prettier-plugin-svelte"
          ]
        }
      },
		{
			"files": "./**/*.json",
			"options": {
				"parser": "json"
			}
		},
		{
			"files": ".prettierrc",
			"options": {
				"parser": "json"
			}
		}
	]
}
